body {
  background-color: rgb(211,211,211);
  padding: 25px;
  font-family: sans-serif;
  text-align: center;
}

h1{
  margin: 3em;
}

p{
  font-size: 1.3em;
}

.engine{
  margin: auto;
  width: 32em;
}

.r32-2{
  width: 32em;
  margin: auto;
}
